<div id="<%= dom_id notification %>">
  <p>
    <strong>Name:</strong>
    <%= notification.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= notification.date %>
  </p>

</div>
